@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

header img {
    height: 50px;
    margin-left: 25px;
    
}

body {
    height: 125vh;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin-top: 80px;
    padding: 30px;
}

header {
    background-color: #2F7EA1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
    float: inline-end;
}

header p {
    color: #bbd7e4;
    text-decoration: none;
}
header h1 {
    color: #bbd7e4;
    text-decoration: none;
}

header li {
    margin: 16px;
}

header li a {
    color: #bbd7e4;
    text-decoration: none;
}

.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: auto 2%;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.container  {
    padding: 2px 16px;
    display: inline-block;
    text-align: center;

}

.container h1 {
    font-size: 7rem;
} 

.NewPatient {
    border: 1px;
}

.renew h1 b {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 5%;

}

.rightAlign {
    margin-left: 550px;
}
